<?xml version="1.0"?>
<robot name="fra2mo" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find ros2_fra2mo)/urdf/fra2mo_base_macro.xacro"/>
  <xacro:include filename="$(find ros2_fra2mo)/urdf/lidar_gazebo_macro.xacro"/> 

  <xacro:property name="LIDAR" value="True"/>
  
  <xacro:fra2mo_base/>

  <xacro:if value="${LIDAR}">
    <xacro:lidar_gazebo_sensor parent="lidar_link"/>
  </xacro:if>

  <gazebo>
    <plugin filename="libignition-gazebo-joint-state-publisher-system.so" 
            name="ignition::gazebo::systems::JointStatePublisher">
      <topic>model/fra2mo/joint_state</topic>
    </plugin>
  </gazebo>

</robot>
